label {
  margin: 0;
  color: #334155;
  font-size: 14px;
}

.form-select {
  min-width: 180px;
  border-radius: 10px;
  border: 1px solid #cbd5e1;
  box-shadow: none;
}

canvas{
  height: 250px !important;
}